# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo

# Virtual environments
venv/
.env

# Jupyter notebooks
.ipynb_checkpoints

# Data
*.csv
*.dta
*.h5
*.parquet

# Analysis outputs
analysis/
*.png

# OS files
.DS_Store

